body {
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 48px;
	color: #666;
    margin: 46px 0 28px 0;
}

h2 {
	font-size: 28px;
    margin: 0 0 27px 0;
	color: #f07c17;

}

p {
	line-height: 32px;
}

li {
	line-height: 32px;
}

.box {
    margin: 31px 0 0 0;
    padding: 30px 30px;
	border-style: solid;
	color: #ccc;
	border-width: 1px;
}